In [4]:
Begrussung="Hallo"
Name1="Tona"
Name2= "Mike"
Alter1= 39.5



print(Begrussung + Name1)
print ("du bist ", Alter1)

HalloTona
du bist  39.5

In [18]:
Mike= 53
Elizabeth= 49
Elianna= 30
D=(Mike+Elizabeth+Elianna)/3
print ("Das Durchschnittsalter unserer Familie beträt    ",D)

Das Durchschnittsalter unserer Familie beträt     44.0

In [12]:
Frage=Mike==53
print (Frage)

True

In [24]:
if Mike > Elianna and Mike > Elizabeth:
    print ("Mike ist der Älteste")

Mike ist der Älteste