In [1]:
import pandas as pd
import numpy as np
import os
from datetime import datetime
import matplotlib.pyplot as plt

In [2]:
d=datetime.today()
thisYear=d.year
print (thisYear)
print (d.day)

2021
12

In [3]:
class Person:
    def __init__(self, name, birthday, gender, height, weight, hairColor):
        self.name=name
        self.birthday=birthday
        self.gender= gender
        self.height = height
        self.weight= weight
        self.hairColor=hairColor
        
    def getBirthdayDate(self):
        birthDate=datetime.strptime(self.birthday,"%d.%m.%Y")
        return birthDate
        #return self.birthday.strftime('%d.%m.%Y')

In [4]:
tona=Person ("Tona", "07.08.1982","M", 1.72,75,"black")
print (tona.name)
print (tona.birthday)
print (tona.gender)
a=tona.getBirthdayDate()
retirementAge=67
Age=thisYear-a.year
print (tona.name, "you are",Age, "years old")
yearstoWork=retirementAge-Age
print (tona.name,"you have to work",yearstoWork,"years")
#print (tona.birthday())

Tona
07.08.1982
M
Tona you are 39 years old
Tona you have to work 28 years

In [5]:
print (tona.name)

Tona

In [6]:
inflation=pd.read_csv('InflationData/InflationData.csv')
inflation

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020
0,Aruba,ABW,"Inflation, consumer prices (annual %)",FP.CPI.TOTL.ZG,NaN,NaN,NaN,NaN,NaN,NaN,...,4.316297,0.627472,-2.372065,0.421441,0.474764,-0.931196,-1.028282,3.626041,4.257462,NaN
1,Africa Eastern and Southern,AFE,"Inflation, consumer prices (annual %)",FP.CPI.TOTL.ZG,NaN,NaN,NaN,NaN,NaN,NaN,...,8.971206,9.158707,5.746949,5.370290,5.250171,6.594604,6.399343,4.720811,3.923372,4.978097
2,Afghanistan,AFG,"Inflation, consumer prices (annual %)",FP.CPI.TOTL.ZG,NaN,NaN,NaN,NaN,NaN,NaN,...,11.804186,6.441213,7.385772,4.673996,-0.661709,4.383892,4.975952,0.626149,2.302373,NaN
3,Africa Western and Central,AFW,"Inflation, consumer prices (annual %)",FP.CPI.TOTL.ZG,NaN,NaN,NaN,NaN,NaN,NaN,...,4.018699,4.578375,2.439201,1.758052,2.130268,1.494564,1.764635,1.481021,1.758565,2.425007
4,Angola,AGO,"Inflation, consumer prices (annual %)",FP.CPI.TOTL.ZG,NaN,NaN,NaN,NaN,NaN,NaN,...,13.482468,10.277905,8.777814,7.280387,9.150372,30.695313,29.843587,19.628608,17.081215,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
261,Kosovo,XKX,"Inflation, consumer prices (annual %)",FP.CPI.TOTL.ZG,NaN,NaN,NaN,NaN,NaN,NaN,...,7.336418,2.476738,1.767324,0.428958,-0.536929,0.273169,1.488234,1.053798,2.675992,0.198228
262,"Yemen, Rep.",YEM,"Inflation, consumer prices (annual %)",FP.CPI.TOTL.ZG,NaN,NaN,NaN,NaN,NaN,NaN,...,19.543562,9.885387,10.968442,8.104726,NaN,NaN,NaN,NaN,NaN,NaN
263,South Africa,ZAF,"Inflation, consumer prices (annual %)",FP.CPI.TOTL.ZG,1.288878,2.102343,1.24629,1.337968,2.53498,4.069023,...,5.017158,5.723944,5.776404,6.136020,4.509208,6.594604,5.181082,4.504577,4.124351,3.223885
264,Zambia,ZMB,"Inflation, consumer prices (annual %)",FP.CPI.TOTL.ZG,NaN,NaN,NaN,NaN,NaN,NaN,...,6.429397,6.575900,6.977676,7.806876,10.110593,17.869730,6.577312,7.494572,9.150316,15.732585
265,Zimbabwe,ZWE,"Inflation, consumer prices (annual %)",FP.CPI.TOTL.ZG,NaN,NaN,NaN,NaN,NaN,NaN,...,3.466130,3.725327,1.634950,-0.197785,-2.430968,-1.543670,0.893962,10.618866,NaN,NaN

In [13]:
inflation.shape
inflation.describe()

,1960,1961,1962,1963,1964,1965,1966,1967,1968,1969,...,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020
count,70.000000,72.000000,74.000000,75.000000,79.000000,86.000000,93.000000,100.000000,100.000000,101.000000,...,238.000000,237.000000,235.000000,233.000000,232.000000,232.000000,227.000000,222.000000,215.000000,180.000000
mean,3.546547,3.481920,4.630458,5.763099,6.259374,8.191511,17.763645,5.464898,6.213143,4.272424,...,6.316582,5.481563,4.041584,3.607382,3.514195,5.888315,4.588009,3.926638,3.514926,4.270427
std,6.797684,4.509762,15.210011,17.050733,13.750174,33.376403,117.536706,14.151840,18.381181,3.780941,...,5.994994,6.508161,5.056012,5.601323,9.658703,30.206102,13.054679,7.517860,7.705296,13.313070
min,-5.030042,-3.900000,-3.846154,-2.694655,-4.535654,-3.878976,-1.361868,-8.422486,-10.033895,-4.339051,...,-0.400041,-3.045863,-4.294873,-1.509245,-3.749145,-3.092990,-1.537100,-2.814698,-3.233389,-2.595243
25%,0.871370,1.468978,1.147323,1.695327,1.870349,1.940405,2.479008,1.564937,1.559165,2.315221,...,3.348240,2.577182,1.461883,0.906798,0.305200,0.388838,1.429107,1.556570,1.107882,0.630358
50%,1.862814,2.102952,2.669962,2.876322,3.324033,3.410026,3.815659,3.020244,2.806830,3.367003,...,4.979818,3.852160,2.785001,2.559749,1.528529,1.652140,2.380236,2.494250,2.300093,2.415131
75%,4.037155,3.601606,4.614353,4.997767,4.822426,4.938170,6.951872,4.500319,4.684995,5.739254,...,7.321843,6.314745,5.316235,4.625551,4.009605,4.171390,4.436118,3.793310,3.319254,3.702385
max,39.590444,22.747264,131.397850,145.910781,108.994709,306.763110,1136.254112,106.000000,128.843042,20.966667,...,53.228698,59.219736,40.639428,62.168650,121.738085,379.999586,187.851630,83.501529,87.241364,150.322724

In [7]:
#inflation.plot("Germany")
#inflation["Country Name"]
DE=inflation.loc[55]
#DE.plot(4:)

SyntaxError: invalid syntax (<ipython-input-7-8d02337bb698>, line 4)